* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.up {
    display: flex;
    height: 75px;
    align-items: center;
    padding: 20px;
}

.logoimg {
    display: flex;
    align-items: center;
    width: 230px;
    height: 70px;
    margin-left: -5px;
    margin-bottom: -3px;
}

.clock {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-right: -7px;
}

.place {
    font-size: 17px;
    opacity: 50%;
    margin-left: 3px;
}

.clockimg {
    opacity: 50%;
}

.locationimg {
    opacity: 50%;
}

.timee {
    font-size: 16px;
    opacity: 50%;
    margin-left: 3px;
}

.location {
    display: flex;
    align-items: center;
    padding: 21px;
}

.rightt {
    display: flex;
    align-items: center;
}

.language {
    background-color: white;
    border: 2px solid rgb(211, 209, 209);
    height: 30px;
    width: 100px;
    border-radius: 4px;
    opacity: 80%;
    font-size: 15px;
}

.verticalbar {
    opacity: 50%;
}

.login {
    background-color: #FFFFC5;
    border: 2px solid rgb(188, 188, 92);
    height: 30px;
    width: 100px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 18px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(11, 99, 11);
  width: 250px;
  height: calc(100vh - 75px);
  box-sizing: border-box;
  padding: 10px 0;
}

.top-items {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

.searchbox input[type=text] {
    border-radius: 5px;
    padding: 4px;
    border: 2px solid rgb(103, 160, 103);
    background-color: rgb(11, 99, 11);
    font-size: 16px;
    margin-left: 12px;
    margin-top: 2px;
    width: 223px;
    height: 30px;
}

.searchbox input::placeholder {
    color: rgb(103, 160, 103);
}

.dashboard {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-top: 18px;
    margin-left: 18px;
}

.dashboardtext {
    color: aliceblue;
    font-size: 17px;
    margin-left: 18px;
}

.admin {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin: 18px;
}

.admintext {
    color: aliceblue;
    font-size: 17px;
    margin-left: 18px;
}

.entry {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-left: 18px;
    margin-bottom: 10px;
}

.entrytext {
    color: aliceblue;
    font-size: 17px;
    margin-left: 18px;
}

.operation {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(118, 165, 47, 0.601);
}

.operationicon {
    margin-left: 18px;
}

.operationtext {
    color: rgb(208, 202, 22);
    font-size: 17px;
    margin-left: 18px;
}

.management {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-left: 18px;
    margin-top: 10px;
}

.managementtext {
    color: aliceblue;
    font-size: 17px;
    margin-left: 18px;
}

.permit {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin: 18px;
}

.permittext {
    color: aliceblue;
    font-size: 17px;
    margin-left: 18px;
}

.report {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-left: 18px;
}

.reporttext {
    color: aliceblue;
    font-size: 17px;
    margin-left: 18px;
}

.support {
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.dividerimg {
    flex-shrink: 0;
    margin-left: -140px;
    margin-bottom: -5px;
}

.supportbutton {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    background-color: rgba(118, 165, 47, 0.601);
    border: 1px solid aliceblue;
    border-radius: 5px;
    color: aliceblue;
}

.main-part {
    display: flex;
}

.middle {
    background-color: rgba(217, 220, 220, 0.381);
    width: 100vw;
}

.trans {
    display: flex;
    color: rgb(97, 188, 67);
    margin-top: 6px;
    margin-left: 20px;
}

.transtext {
    font-size: 20px;
    margin-left: 10px;
}

.transimg {
    margin-top: -3px;
    margin-left: -3px;
}

.middle-top {
    display: flex;
}

.repo {
    display: flex;
    margin-top: 6px;
    margin-left: 20px;
}

.report-text {
    font-size: 20px;
    margin-left: -50px;
}

.reportimg {
    margin-top: -3px;
    margin-left: -3px;
}

.middle-divider {
    margin-left: -222px;
    margin-top: -47px;
    width: 270px;
}

.middle-2 {
    display: flex;
    margin-left: 30px;
    margin-top: -40px;
}

.text-1 {
    margin-right: 40px;
    font-size: small;
    color: rgb(11, 99, 11);
}

.text-2 {
    margin-right: 40px;
    font-size: small;
    color: grey;
}

.text-3 {
    margin-right: 40px;
    font-size: small;
    color: grey;
}

.text-4 {
    margin-right: 40px;
    font-size: small;
    color: grey;
}

.text-5 {
    font-size: small;
    color: grey;
}

.middle-main {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    margin-top: 35px;
    height: 65vh;
    border-radius: 8px;
}

.middle-search {
    margin-left: 20px;
    padding-top: 20px;
}

.middle-search input[type=text] {
    border-radius: 4px;
    border: 2px solid lightgray;
    padding: 4px;
}

.middle-search input::placeholder {
    font-size: 16px;
    opacity: 50%;
    padding-left: 4px;
    padding-bottom: 2px;
}

.middle-qrbutton {
    margin-left: auto;
    margin-top: 20px;
    height: 30px;
    font-size: 16px;
    padding: 9px;
    padding-top: 4px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.middle-filterbutton {
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 16px;
    padding: 9px;
    padding-top: 4px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 4px;
}